.home-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/splash.avif");
  background-size: cover;
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container nav {
  display: flex;
  padding: 10px 80px;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
.home-container nav a {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
}
.home-container nav a:hover {
  margin: 0 10px;
  color: white;
  border-bottom: 3px rgba(255, 255, 255, 0.5) solid;
}
.home-container nav .active {
  margin: 0 10px;
  color: white;
  border-bottom: 3px white solid;
}
.home-container section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
