.camp-review-form {
  align-self: flex-start;
  width: 100%;
}
.camp-review-form .star {
  cursor: pointer;
  scale: 0.9;
}
.camp-review-form .star:hover {
  opacity: 0.7;
}
.camp-review-form textarea {
  width: 100%;
  padding: 7px;
}
.camp-review-form p {
  margin-bottom: 5px;
}
.camp-review-form button {
  margin-top: 10px;
}