/* .sign-up-container{
    margin: 80px;
    align-self: center;
}
 */

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
}
.sign-up-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 400px;
}
.sign-up-form {
  width: 400px;
  border: 1px white solid;
  padding: 10px;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sign-up-form input {
  width: 100%;
}
.sign-up-container img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sign-up-container button {
  width: 100%;
  margin-bottom: 5px;
}
